

<div class="main-content">
    <h1 class="list-title">投稿一覧</h1>
    <div class="content">
        <div class="content-title">
            <h2>φ20のSS400材段つけ加工について</h2>
        </div>
        <div class="content-contributor">投稿者：Uemura</div>
        <div class="content-tag">
            <ul class="tag-list">
                Tags:
                <li>切削</li>
                <li>旋盤加工</li>
                <li>SS400</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-title">
            <h2>CNC旋盤M3ネジ切り工程</h2>
        </div>
        <div class="content-contributor">投稿者：Uemura</div>
        <div class="content-tag">
            <ul class="tag-list">
                Tags:
                <li>NC旋盤</li>
                <li>ネジ切り</li>
                <li>真鍮</li>
            </ul>
        </div>
    </div>
</div>