<div class="new">
  <div class="new-content">
    <form class="new-form">
      <p class="list-title">投稿する</p>
      <input type="file" class="form-image">
      <textarea name="" id="" cols="30" rows="10" placeholder="Comment" class="new-comment"></textarea>
      <input type="submit" value="送信する" class="form-submit">
    </form>
  </div>
</div>