<div class="show-box">
  <div class="show-content">
    
    <div class="content-box">
      <div class="content-header">
        <h1 class="show-title"><%= @post.title %></h1>
        <div class="show-name">投稿者：Uemura</div>
        <div class="show-tag">
          <ul class="show-tag-list">
            Tags:
              <% @post.tag_list.each do |tag| %>
                <li><%= tag %></li>
              <% end %>
          </ul>
        </div>
      </div>
      <div class="show-text">
        <%= @post.content %>
      </div>
    </div>

    <div class="show-images">
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image, class: 'show-figure' %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="show-comments">
    <div class="comment-header">
      <p>コメント一覧</p>
    </div>
    <div class="comment-content">
      <p>Uemura: 使用工具をハイスから超硬に変えて、切削速度を上げて加工してみましょう。</p>
    </div>
    <div>
      <img class="show-figure" src="/images/sample1.png" alt="image">
    </div>
  </div>
    
  <div class="comment-box">
    <form class="comment-form">
      <h2 class="heading-name">コメントを投稿</h2>
      <textarea placeholder="Comment" class="comment-text"></textarea>
      <input type="file" class="form-image">
      <input type="submit" value="SEND" class="send">
    </form>
  </div>

</div>