<div class="show-box">
  <div class="show-content">
    
    <div class="content-box">
      <div class="content-header">
        <h1 class="show-title">φ20のSS400材段つけ加工について</h1>
        <div class="show-name">投稿者：Uemura</div>
        <div class="show-tag">Tags: 切削 旋盤加工 SS400</div>
      </div>
      <div class="show-text">
        図のような丸棒の段つけ加工を旋盤にて行いたいです。
        添付の工程表の条件で加工を行うのですが、1回あたりの加工時間を30秒縮めたいと考えております。
        φ14部分の表面性状をRa1.6以内に収めつつ、加工速度を上げる手段としてどのようなことが挙げられるでしょうか？
      </div>
    </div>

    <div class="show-images">
      <div class="show-figure">
        <img src="/images/sample1.png" alt="image">
      </div>
      <div class="show-figure">
        <img src="/images/sample1.png" alt="image">
      </div>
      <div class="show-figure">
        <img src="/images/sample1.png" alt="image">
      </div>
    </div>

  </div>

  <div class="show-comments">
    <div class="comment-header">
      <p>コメント一覧</p>
    </div>
    <div class="comment-content">
      <p>Uemura: 使用工具をハイスから超硬に変えて、切削速度を上げて加工してみましょう。</p>
    </div>
    <div class="show-figure">
      <img src="/images/sample1.png" alt="image">
    </div>
  </div>
    
  <div class="comment-box">
    <form class="comment-form">
      <h2 class="heading-name">コメントを投稿</h2>
      <textarea placeholder="Comment" class="comment-text"></textarea>
      <input type="file" class="form-image">
      <input type="submit" value="SEND" class="send">
    </form>
  </div>

</div>